elasticsearch==7.16.2
elasticsearch-dsl==7.4.1
iso3166
json-merge-patch
minio
paho-mqtt
pygeometa
geoalchemy
pygeofilter[backend-sqlalchemy]
pygeoif
pygeometa
sodapy
s3fs<=2023.6.0
Flask>=2.2.0
Flask-Cors
gevent==21.8.0