server:
    bind:
        host: 0.0.0.0
        port: 80
    url: ${WIS2BOX_API_URL}
    mimetype: application/json; charset=UTF-8
    encoding: utf-8
    languages:
        - en-US
    pretty_print: false
    admin: true
    limit: 500
    map:
        url: ${WIS2BOX_BASEMAP_URL}
        attribution: ${WIS2BOX_BASEMAP_ATTRIBUTION}
    templates:
        path: /pygeoapi/pygeoapi/templates
    manager:
        name: TinyDB
        connection: /tmp/pygeoapi-process-manager.db
        output_dir: /tmp/

logging:
    level: ${WIS2BOX_LOGGING_LOGLEVEL}
    #logfile: /tmp/pygeoapi.log

metadata:
    identification:
        title:
            en: WIS2 in a box API
        description:
            en: |-
                WIS 2.0 in a box (wis2box) provides a platform with the capabilities
                for centres to integrate their data holdings and publish them
                to the WMO Information System with a plug and play capability
                supporting data publishing, discovery and access.
                wis2box-api provides an API providing data and processes for interactive
                visualization, data transformation and publication.
        keywords:
            en:
                - wis2box
                - WIS2 Node
        url: https://docs.wis2box.wis.wmo.int
        terms_of_service: https://www.apache.org/licenses/LICENSE-2.0
    provider:
        name: WIS 2.0 in a box
        url: https://docs.wis2box.wis.wmo.int
    contact:
        name: World Meteorological Organization
        address: 7bis, avenue de la Paix
        city: Geneva
        postalcode: "1211"
        country: Switzerland
        email: ''
        url: https://wmo.int/contact-us
        role: pointOfContact
    license:
        name: Apache License 2.0
        url: https://www.apache.org/licenses/LICENSE-2.0

resources:
    station-info:
        type: process
        processor:
            name: wis2box_api.plugins.process.station_info.StationInfoProcessor

    dataset-info:
        type: process
        processor:
            name: wis2box_api.plugins.process.dataset_info.DatasetInfoProcessor
    
    mappings-info:
        type: process
        processor:
            name: wis2box_api.plugins.process.mappings_info.MappingsInfoProcessor

    pygeometa-metadata-generate:
        type: process
        processor:
            name: pygeometa.pygeoapi_plugin.PygeometaMetadataGenerateProcessor

    pywis-topics-list:
        type: process
        processor:
            name: pywis_topics.pygeoapi_plugin.WIS2TopicHierarchyListTopicsProcessor

    pywis-topics-validate:
        type: process
        processor:
            name: pywis_topics.pygeoapi_plugin.WIS2TopicHierarchyValidateTopicProcessor

    pywcmp-wis2-wcmp2-ets:
        type: process
        processor:
            name: pywcmp.pygeoapi_plugin.WCMP2ETSProcessor

    wmo-get-ra:
        type: process
        processor:
            name: wis2box_api.plugins.process.wmo_ra.WMORAProcessor

    bufr2geojson:
        type: process
        processor:
            name: wis2box_api.plugins.process.bufr2geojson.Bufr2geojsonProcessor

    cap2geojson:
        type: process
        processor:
            name: wis2box_api.plugins.process.cap2geojson.Cap2geojsonProcessor

    oscar2feature:
        type: process
        processor:
            name: wis2box_api.plugins.process.oscar2feature.Oscar2FeatureProcessor

    wis2box-publish_dataset:
        type: process
        processor:
            name: wis2box_api.plugins.process.publish_dataset.PublishDatasetProcessor

    wis2box-unpublish_dataset:
        type: process
        processor:
            name: wis2box_api.plugins.process.unpublish_dataset.UnpublishDatasetProcessor

    wis2box-synop2bufr:
      type: process
      processor:
        name: wis2box_api.plugins.process.synop2bufr.SynopPublishProcessor

    wis2box-csv2bufr:
      type: process
      processor:
        name: wis2box_api.plugins.process.csv2bufr.CSVPublishProcessor

    wis2box-bufr2bufr:
      type: process
      processor:
        name: wis2box_api.plugins.process.bufr2bufr.BufrPublishProcessor
